syntax: glob
blib*
Makefile
Makefile.old
Makefile.bak
MANIFEST.bak
Build
Build.bat
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
cover_db
pod2htm*.tmp
App-IBIS-*
root/static/*
inc/*
META.yml
MYMETA.yml
MYMETA.json
nytprof*
*.db
*.orig
root/asset/jq*
root/asset/font*
root/asset/rdf.js
root/asset/d3.js
root/asset/force-directed.js
root/asset/sugiyama.js
js/node_modules
js/package-lock.json
