// all this can come out of the app
$IBIS: ("ibis:Issue", "ibis:Position", "ibis:Argument");
$CLASSES: append($IBIS, "skos:Concept");
$PROPERTIES: (
    //"dct:references",
    "skos:broader", "skos:narrower", "skos:related",
    "ibis:generalizes", "ibis:specializes",
    "ibis:suggests", "ibis:suggested-by",
    "ibis:questions", "ibis:questioned-by",
    "ibis:response", "ibis:responds-to",
    "ibis:supports", "ibis:supported-by",
    "ibis:opposes", "ibis:opposed-by",
    "ibis:concerns", "ibis:concern-of"
);

$BOUNDARIES: (
    "ibis:concerns", "ibis:concern-of", "dct:references", "dct:isReferencedBy");

$FADE: (
    "ibis:Issue":    (("skos:Concept"), $BOUNDARIES),
    "ibis:Position": (("skos:Concept"), $BOUNDARIES),
    "ibis:Argument": (("skos:Concept"), $BOUNDARIES),
    "skos:Concept":  (
        ("ibis:Issue", "ibis:Position", "ibis:Argument"), $BOUNDARIES)
);

$FIELDSETS: ("ibis:Issue": issue, "ibis:Position": position,
             "ibis:Argument": argument, "skos:Concept": concept);

$PREFIXES: (
    ibis: "https://vocab.methodandstructure.com/ibis#",
    skos: "http://www.w3.org/2004/02/skos/core#"
);

// S,L: 45,5; 45,15; 45,30; 45,40; 45,70; 60,90; 100,50; 100,90
$PALETTE: (
    // hue 12
    "ibis:Issue":         (#210909, #401919, #733232, #974444,
                           #d79c9c, #f4dddd, #ef0006, #ffd9d9),
    // hue 127
    "ibis:Position":      (#091309, #182919, #314d31, #436643,
                           #7db97d, #a6f4a7, #008a06, #71fe73),
    // hue 265
    "ibis:Argument":      (#0d0d27, #20204b, #3e3e85, #5656a0,
                           #a7a7d2, #e0e0f3, #6261fe, #dfdffe),
    // hue 308
    "skos:Concept":       (#1a0b1a, #351c35, #613760, #804b7f,
                           #d198d1, #f3daf3, #d200d1, #ffd5fe),
    // hue 260
    "ibis:generalizes":   (#0c0f20, #1e2340, #3a4372, #4e5a96,
                           #a2a8d2, #dfe1f3, #376afe, #dce0fe),
    // hue 265
    "ibis:specializes":   (#0d0e26, #202149, #3d3f80, #5456a0,
                           #a6a7d2, #e0e0f3, #5b63fe, #dfe0fe),
    // hue 61
    "ibis:suggests":      (#141009, #2b2419, #504531, #6a5c43,
                           #bfa87d, #f4dfbd, #937200, #fedea1),
    // hue 55
    "ibis:suggested-by":  (#151009, #2c2419, #524431, #6d5b43,
                           #c5a67d, #f4dfc7, #9a6f00, #ffddb3),
    // hue 35
    "ibis:questions":     (#180e09, #322219, #5b4032, #785644,
                           #d89e7e, #f4ded4, #b26300, #ffdbca),
    // hue 27
    "ibis:questioned-by": (#1a0d09, #352019, #613d32, #805344,
                           #d89d8b, #f4ddd8, #c15700, #ffdad1),
    // hue 350
    "ibis:response":      (#1e0a11, #3c1a27, #6c3449, #8e4762,
                           #d59bae, #f4dce3, #e50081, #ffd8e4),
    // hue 356
    "ibis:responds-to":   (#1f0a10, #3d1a24, #6e3445, #90465c,
                           #d59ba9, #f4dce1, #e80071, #fed8e1),
    // hue 124
    "ibis:supports":      (#0a1309, #1a2918, #354c31, #476543,
                           #84b87d, #a9f59d, #2b8800, #78fe59),
    // hue 120
    "ibis:supported-by":  (#0b1209, #1c2818, #384b31, #4b6543,
                           #8bb67d, #acf591, #3e8700, #80fe26),
    // hue 9
    "ibis:opposes":       (#20090b, #40191c, #723237, #95454a,
                           #d69c9f, #f4ddde, #ed0035, #ffd9db),
    // hue 4
    "ibis:opposed-by":    (#20090d, #3f1a20, #70333d, #934552,
                           #d69ba3, #f4dcdf, #eb0054, #ffd9dd),
    // hue 268
    "skos:broader":       (#0f0d26, #232049, #4e4895, #5a54a0,
                           #a9a6d2, #e1e0f3, #6e5dfe, #e1dffe),
    // hue 266
    "skos:narrower":      (#110d25, #261f48, #524792, #5e53a0,
                           #aba6d2, #e2e0f3, #7859fe, #e2dffe),
    // hue 290
    "skos:related":       (#1f0a09, #3e1b19, #7f3f3b, #914944,
                           #d79c99, #f4dddc, #e32f00, #ffd9d8),
    // hue 105
    "ibis:concerns":      (#0e1209, #212718, #4b563a, #566243,
                           #9db27d, #cbee8e, #628100, #bdf500),
    // hue 110
    "ibis:concern-of":    (#0d1209, #202818, #3e4a31, #536343,
                           #98b37d, #c2f08e, #598300, #acf800)

);

$ICONS: (
    "ibis:Issue":    "\f071",
    "ibis:Position": "\f0e3",
    "ibis:Argument": "\f086",
    "skos:Concept":  "\1f5ed"
);

@mixin vendor ($directive, $params...) {
   @each $p in webkit, moz, ms, o {
      -#{$p}-#{$directive}: $params;
   }
   #{$directive}: $params;
}
