* {
  border-color: inherit;
  transition: visibility 0.15s, opacity 0.15s, background-color 0.15s, border-color 0.15s, color 0.15s, fill 0.15s, stroke 0.15s;
}

html {
  width: 100%;
  min-height: 100%;
  font-family: Roboto, Helvetica Neue, sans-serif;
  background-color: #333;
  color: #999;
}

body {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body[typeof~="bibo:Webpage"] {
  overflow: auto;
  text-align: justify;
  hyphens: auto;
  color: #aaa;
}

body[typeof~="bibo:Webpage"] h1 {
  font-size: 200%;
}

body[typeof~="bibo:Webpage"] h2 {
  font-size: 180%;
}

body[typeof~="bibo:Webpage"] h3 {
  font-size: 160%;
}

body[typeof~="bibo:Webpage"] h4 {
  font-size: 140%;
}

body[typeof~="bibo:Webpage"] h5 {
  font-size: 120%;
}

body[typeof~="bibo:Webpage"] h6 {
  font-size: 100%;
}

body[typeof~="bibo:Webpage"] h1 {
  text-align: center;
}

body[typeof~="bibo:Webpage"] article {
  width: 100%;
  max-width: initial;
  right: initial;
  margin: 1em auto;
}

body[typeof~="bibo:Webpage"] section {
  max-width: 70ex;
  margin: auto;
  line-height: 1.25em;
}

body[typeof~="bibo:Webpage"] aside[role~="note"] {
  margin: 1.3333em;
  font-size: 75%;
}

body[typeof~="bibo:Webpage"] em, body[typeof~="bibo:Webpage"] strong, body[typeof~="bibo:Webpage"] dfn, body[typeof~="bibo:Webpage"] abbr, body[typeof~="bibo:Webpage"] span {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}

body[typeof~="bibo:Webpage"] em[about], body[typeof~="bibo:Webpage"] strong[about], body[typeof~="bibo:Webpage"] dfn[about], body[typeof~="bibo:Webpage"] abbr[about], body[typeof~="bibo:Webpage"] span[about] {
  padding: 0 0.1em;
}

body[typeof~="bibo:Webpage"] dfn, body[typeof~="bibo:Webpage"] abbr {
  text-decoration: underline;
  text-decoration-style: dotted;
}

main {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2em;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: inset 0px 0px 40px #000;
  -moz-box-shadow: inset 0px 0px 40px #000;
  -ms-box-shadow: inset 0px 0px 40px #000;
  -o-box-shadow: inset 0px 0px 40px #000;
  box-shadow: inset 0px 0px 40px #000;
}

article {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  display: inline-block;
  position: absolute;
  margin: 1em 5% 1em 1em;
  padding: 0 1em;
  top: 0;
  left: 0;
  bottom: 0;
  width: 45%;
  max-width: 70ex;
  z-index: 2;
  overflow-x: visible;
  overflow-y: auto;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.5em;
  padding: 0.25em 0.5em;
  background-color: black;
  line-height: 1.5em;
}

footer > a {
  display: inline-block;
  height: 100%;
}

footer nav ul {
  margin: 0;
  padding: 0;
}

footer nav li {
  display: block;
  width: 50%;
  float: left;
  text-align: right;
}

footer nav li:first-child {
  text-align: left;
}

figure {
  display: inline-block;
}

figure.aside {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  max-width: 60%;
  width: 40%;
  height: 50%;
  margin: 0;
  overflow: visible;
  width: 100vh;
  height: 100%;
  z-index: 1;
}

figure > object {
  display: block;
  max-width: 100%;
  height: 100%;
}

dl.predicates, aside.predicate, td.predicate {
  font-size: 80%;
}

td.predicate {
  vertical-align: top;
  display: table-cell;
}

aside.collection {
  display: none;
}

aside.predicate, td.predicate {
  display: block;
  background-color: black;
  border-style: solid;
  border-width: 0.05em;
  padding: 0.5em;
  margin-top: 0.5em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}

aside.predicate:first-child, td.predicate:first-child {
  margin-top: 0;
}

aside.predicate h3, td.predicate h3 {
  margin: 0 0 0.5em 0.25em;
}

aside.predicate ul, td.predicate ul {
  margin: 0;
  padding-left: 0.5em;
}

aside.predicate li, td.predicate li {
  display: block;
  list-style-type: none;
  margin-left: 0.25em;
  margin-top: 0.5em;
}

aside.predicate li:first-child, td.predicate li:first-child {
  margin-top: 0;
}

aside.predicate li a, td.predicate li a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.2em 0.5em;
}

aside.predicate li a:hover, td.predicate li a:hover {
  text-decoration: none;
}

aside.predicate.link ul li a, aside.predicate.concept ul li a, td.predicate.link ul li a, td.predicate.concept ul li a {
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0.5em;
  padding: 0.2em;
  margin-bottom: 0.5em;
}

div.class-selector {
  display: inline-block;
  float: left;
}

div.class-selector > button {
  display: block;
  margin: 0.5em 0;
  line-height: 1.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}

*[property="rdfs:label"], h3.label {
  padding: 0.1em 0.3em;
  display: inline-block;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}

hr.separator {
  border: none;
  margin: 1em;
}

/* inline stuff */
a {
  text-decoration: none;
}

a:link {
  color: #cd9bce;
}

a:visited {
  color: #b280b2;
}

a:hover, a:active {
  color: #ddbcde;
  text-decoration: underline;
}

object.hiveplot {
  display: block;
  width: 100%;
  height: 100%;
}

object.hiveplot.baby {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 25%;
  transform: rotate(-45deg);
}

object.hiveplot.baby.other {
  top: unset;
  bottom: 0;
  width: auto;
  height: 25%;
  transform: rotate(45deg);
}

span.date {
  position: absolute;
  bottom: 0;
  right: 5em;
  font-size: 66.6%;
  opacity: 0.3;
}

/* form stuff */
body[typeof~="skos:Concept"] section.self h1 {
  display: flex;
  height: initial;
}

body[typeof~="skos:Concept"] section.self h1 > form {
  width: 100%;
}

body[typeof~="skos:Concept"] section.self h1 input {
  width: 100%;
}

body[typeof~="skos:Concept"] section.self h1 button {
  flex: 1;
}

body[typeof~="skos:Concept"] section.self > form {
  display: flex;
}

body[typeof~="skos:Concept"] section.self > form textarea {
  font-size: 80%;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 0.333em;
  -moz-border-radius: 0.333em;
  -ms-border-radius: 0.333em;
  -o-border-radius: 0.333em;
  border-radius: 0.333em;
}

body[typeof~="skos:Concept"] section.self > form button {
  position: initial;
  top: initial;
  right: initial;
  flex: 1;
}

body[typeof~="skos:Concept"] section.self aside.predicate.link {
  width: auto;
  left: 0;
  right: 0;
}

body[typeof~="skos:Concept"] form#toggle-which {
  width: 100%;
  left: 0;
  text-align: center;
}

body[typeof~="skos:Concept"] form#toggle-which label {
  display: inline-block;
  padding: 0 1em;
}

form {
  display: inherit;
  border-color: inherit;
}

form#blank-page {
  margin: 5em auto;
  width: 70ex;
}

form#toggle-which {
  position: absolute;
  top: 1em;
  right: 0;
  width: 50%;
  height: 2em;
}

form#toggle-which label {
  display: block;
  font-size: 80%;
  font-weight: bold;
}

fieldset {
  border-style: inherit;
  border-width: inherit;
  margin: 0;
  padding: 0;
  /*
   &.issue {
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
   }

   &.argument {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
   }
   */
}

fieldset.relation {
  font-size: 75%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 11em;
  height: 13em;
  background-color: none !important;
}

fieldset.relation.selected {
  opacity: 1;
  visibility: visible;
}

fieldset.relation.skos {
  width: 100%;
  height: auto;
  visibility: visible;
  opacity: 1;
  left: 1em;
}

fieldset.relation.skos h4, fieldset.relation.skos li {
  min-width: 8em;
  max-width: 10em;
}

fieldset.relation.skos h4, fieldset.relation.skos ul, fieldset.relation.skos li {
  margin: 0;
  display: inline-block;
}

fieldset.relation.skos[rel~="skos:narrower"] {
  top: 5em;
}

fieldset.relation.skos[rel~="skos:related"] {
  top: 7em;
}

fieldset.relation.skos[rel~="skos:broader"] {
  top: 9em;
}

fieldset.relation input {
  margin: 0.125em;
  padding: 0;
}

fieldset.relation legend {
  font-weight: bold;
}

fieldset.relation ul {
  padding: 0;
  list-style-type: none;
  margin: 0.6666em 0.8333em;
}

fieldset.relation li {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  margin-top: 1px;
  border-style: solid;
  border-width: 0.05em;
  padding: 0.125em;
}

fieldset.relation li:first-child {
  margin-top: 0;
}

fieldset.relation li > label {
  display: block;
}

fieldset.types {
  position: absolute;
  top: 4em;
  right: 0;
  width: 50%;
  margin: 0;
  font-weight: bold;
}

fieldset.types ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

fieldset .interaction {
  position: absolute;
  height: 2em;
  margin: auto;
  padding: 1em;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

fieldset .interaction button {
  width: 2.5em;
  flex: 0;
}

fieldset.edit-group {
  width: 100%;
  height: 100%;
}

textarea.heading, textarea.description {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  width: 100%;
  resize: none;
  overflow: visible;
  height: 5em;
  white-space: pre-wrap;
}

input, select, option, textarea, button {
  background-color: transparent;
}

input[type="text"], input[type="submit"], input[type="reset"], select, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: inherit;
  color: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25em;
}

input[type="submit"], input[type="reset"], input[type="checkbox"],
input[type="radio"], label, button {
  cursor: pointer;
}

input.new-value {
  padding-left: 0.25em;
}

select.target, input.new-value {
  min-width: 75%;
  flex: 1;
}

select.target {
  text-overflow: ellipsis;
}

select.target option {
  max-width: 70ex;
  overflow-x: hidden;
}

option {
  padding: 0 0 0 1ex;
}

button:hover, label:hover {
  cursor: pointer;
}

button[disabled], label[disabled] {
  cursor: auto;
}

button {
  padding: 1pt 1ex;
}

button[disabled] {
  color: #222;
}

button.disconnect {
  font-size: 75%;
  display: inline-block;
  float: right;
  margin: 0.2em 0.2em 0.5em 1em;
  padding: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}

button.set-type {
  font-size: 75%;
  vertical-align: middle;
}

button.update {
  display: inline-block;
  width: 1.5em;
  padding: 0.25em;
  border-radius: 0.25em;
  position: absolute;
  top: 4em;
  right: 1.5em;
}

button#toggle-full-screen {
  display: none;
}

/* palette stuff */
*[about="https://privatealpha.com/ontology/ibis/1#generalizes"], *[about="ibis:generalizes"] {
  background-color: #dce0fe;
  color: #3a4372;
}

li[about="ibis:generalizes"] {
  background-color: #376afe;
  border-color: #4e5a96;
  color: #1e2340;
}

li[about="ibis:generalizes"].selected {
  background-color: #dce0fe;
  border-color: #a2a8d2;
  color: #3a4372;
}

aside[rel~="ibis:generalizes"].predicate {
  background-color: #376afe !important;
  border-color: #4e5a96 !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#specializes"], *[about="ibis:specializes"] {
  background-color: #dfe0fe;
  color: #3d3f80;
}

li[about="ibis:specializes"] {
  background-color: #5b63fe;
  border-color: #5456a0;
  color: #202149;
}

li[about="ibis:specializes"].selected {
  background-color: #dfe0fe;
  border-color: #a6a7d2;
  color: #3d3f80;
}

aside[rel~="ibis:specializes"].predicate {
  background-color: #5b63fe !important;
  border-color: #5456a0 !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#suggests"], *[about="ibis:suggests"] {
  background-color: #fedea1;
  color: #504531;
}

li[about="ibis:suggests"] {
  background-color: #937200;
  border-color: #6a5c43;
  color: #2b2419;
}

li[about="ibis:suggests"].selected {
  background-color: #fedea1;
  border-color: #bfa87d;
  color: #504531;
}

aside[rel~="ibis:suggests"].predicate {
  background-color: #937200 !important;
  border-color: #6a5c43 !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#suggested-by"], *[about="ibis:suggested-by"] {
  background-color: #ffddb3;
  color: #524431;
}

li[about="ibis:suggested-by"] {
  background-color: #9a6f00;
  border-color: #6d5b43;
  color: #2c2419;
}

li[about="ibis:suggested-by"].selected {
  background-color: #ffddb3;
  border-color: #c5a67d;
  color: #524431;
}

aside[rel~="ibis:suggested-by"].predicate {
  background-color: #9a6f00 !important;
  border-color: #6d5b43 !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#questions"], *[about="ibis:questions"] {
  background-color: #ffdbca;
  color: #5b4032;
}

li[about="ibis:questions"] {
  background-color: #b26300;
  border-color: #785644;
  color: #322219;
}

li[about="ibis:questions"].selected {
  background-color: #ffdbca;
  border-color: #d89e7e;
  color: #5b4032;
}

aside[rel~="ibis:questions"].predicate {
  background-color: #b26300 !important;
  border-color: #785644 !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#questioned-by"], *[about="ibis:questioned-by"] {
  background-color: #ffdad1;
  color: #613d32;
}

li[about="ibis:questioned-by"] {
  background-color: #c15700;
  border-color: #805344;
  color: #352019;
}

li[about="ibis:questioned-by"].selected {
  background-color: #ffdad1;
  border-color: #d89d8b;
  color: #613d32;
}

aside[rel~="ibis:questioned-by"].predicate {
  background-color: #c15700 !important;
  border-color: #805344 !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#response"], *[about="ibis:response"] {
  background-color: #ffd8e4;
  color: #6c3449;
}

li[about="ibis:response"] {
  background-color: #e50081;
  border-color: #8e4762;
  color: #3c1a27;
}

li[about="ibis:response"].selected {
  background-color: #ffd8e4;
  border-color: #d59bae;
  color: #6c3449;
}

aside[rel~="ibis:response"].predicate {
  background-color: #e50081 !important;
  border-color: #8e4762 !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#responds-to"], *[about="ibis:responds-to"] {
  background-color: #fed8e1;
  color: #6e3445;
}

li[about="ibis:responds-to"] {
  background-color: #e80071;
  border-color: #90465c;
  color: #3d1a24;
}

li[about="ibis:responds-to"].selected {
  background-color: #fed8e1;
  border-color: #d59ba9;
  color: #6e3445;
}

aside[rel~="ibis:responds-to"].predicate {
  background-color: #e80071 !important;
  border-color: #90465c !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#supports"], *[about="ibis:supports"] {
  background-color: #78fe59;
  color: #354c31;
}

li[about="ibis:supports"] {
  background-color: #2b8800;
  border-color: #476543;
  color: #1a2918;
}

li[about="ibis:supports"].selected {
  background-color: #78fe59;
  border-color: #84b87d;
  color: #354c31;
}

aside[rel~="ibis:supports"].predicate {
  background-color: #2b8800 !important;
  border-color: #476543 !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#supported-by"], *[about="ibis:supported-by"] {
  background-color: #80fe26;
  color: #384b31;
}

li[about="ibis:supported-by"] {
  background-color: #3e8700;
  border-color: #4b6543;
  color: #1c2818;
}

li[about="ibis:supported-by"].selected {
  background-color: #80fe26;
  border-color: #8bb67d;
  color: #384b31;
}

aside[rel~="ibis:supported-by"].predicate {
  background-color: #3e8700 !important;
  border-color: #4b6543 !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#opposes"], *[about="ibis:opposes"] {
  background-color: #ffd9db;
  color: #723237;
}

li[about="ibis:opposes"] {
  background-color: #ed0035;
  border-color: #95454a;
  color: #40191c;
}

li[about="ibis:opposes"].selected {
  background-color: #ffd9db;
  border-color: #d69c9f;
  color: #723237;
}

aside[rel~="ibis:opposes"].predicate {
  background-color: #ed0035 !important;
  border-color: #95454a !important;
}

*[about="https://privatealpha.com/ontology/ibis/1#opposed-by"], *[about="ibis:opposed-by"] {
  background-color: #ffd9dd;
  color: #70333d;
}

li[about="ibis:opposed-by"] {
  background-color: #eb0054;
  border-color: #934552;
  color: #3f1a20;
}

li[about="ibis:opposed-by"].selected {
  background-color: #ffd9dd;
  border-color: #d69ba3;
  color: #70333d;
}

aside[rel~="ibis:opposed-by"].predicate {
  background-color: #eb0054 !important;
  border-color: #934552 !important;
}

body[typeof~="ibis:Issue"] main,
body[typeof~="ibis:Issue"] aside.predicate {
  background-color: #401919;
  border-color: #d79c9c;
  color: #d79c9c;
}

body[typeof~="ibis:Issue"] article {
  background-color: #733232;
}

body[typeof~="ibis:Issue"] footer {
  background-color: #210909;
}

body[typeof~="ibis:Issue"] section.relations, body[typeof~="ibis:Issue"] section.edit {
  background-color: #401919;
  border-color: #401919;
}

button[value="ibis:Issue"].set-type,
[typeof~="ibis:Issue"] button, li[typeof~="ibis:Issue"] button {
  color: #401919;
  border-color: #733232;
  background-color: #974444;
}

button[value="ibis:Issue"].set-type:hover,
[typeof~="ibis:Issue"] button:hover, li[typeof~="ibis:Issue"] button:hover {
  background-color: #d79c9c;
}

button[value="ibis:Issue"][disabled] {
  color: #733232;
  border-color: #733232;
  background-color: #210909;
}

li[typeof~="ibis:Issue"], li[about="ibis:Issue"], li[about="https://privatealpha.com/ontology/ibis/1#Issue"], dfn[typeof~="ibis:Issue"], dfn[about="ibis:Issue"], dfn[about="https://privatealpha.com/ontology/ibis/1#Issue"], em[typeof~="ibis:Issue"], em[about="ibis:Issue"], em[about="https://privatealpha.com/ontology/ibis/1#Issue"], strong[typeof~="ibis:Issue"], strong[about="ibis:Issue"], strong[about="https://privatealpha.com/ontology/ibis/1#Issue"], span[typeof~="ibis:Issue"], span[about="ibis:Issue"], span[about="https://privatealpha.com/ontology/ibis/1#Issue"] {
  background-color: #d79c9c;
  border-color: #974444;
  color: #401919;
}

li[typeof~="ibis:Issue"] a, li[about="ibis:Issue"] a, li[about="https://privatealpha.com/ontology/ibis/1#Issue"] a, dfn[typeof~="ibis:Issue"] a, dfn[about="ibis:Issue"] a, dfn[about="https://privatealpha.com/ontology/ibis/1#Issue"] a, em[typeof~="ibis:Issue"] a, em[about="ibis:Issue"] a, em[about="https://privatealpha.com/ontology/ibis/1#Issue"] a, strong[typeof~="ibis:Issue"] a, strong[about="ibis:Issue"] a, strong[about="https://privatealpha.com/ontology/ibis/1#Issue"] a, span[typeof~="ibis:Issue"] a, span[about="ibis:Issue"] a, span[about="https://privatealpha.com/ontology/ibis/1#Issue"] a {
  color: inherit;
}

li[typeof~="ibis:Issue"] a:hover, li[about="ibis:Issue"] a:hover, li[about="https://privatealpha.com/ontology/ibis/1#Issue"] a:hover, dfn[typeof~="ibis:Issue"] a:hover, dfn[about="ibis:Issue"] a:hover, dfn[about="https://privatealpha.com/ontology/ibis/1#Issue"] a:hover, em[typeof~="ibis:Issue"] a:hover, em[about="ibis:Issue"] a:hover, em[about="https://privatealpha.com/ontology/ibis/1#Issue"] a:hover, strong[typeof~="ibis:Issue"] a:hover, strong[about="ibis:Issue"] a:hover, strong[about="https://privatealpha.com/ontology/ibis/1#Issue"] a:hover, span[typeof~="ibis:Issue"] a:hover, span[about="ibis:Issue"] a:hover, span[about="https://privatealpha.com/ontology/ibis/1#Issue"] a:hover {
  color: #733232;
}

li[typeof~="ibis:Issue"]:hover, li[typeof~="ibis:Issue"].subject, li[about="ibis:Issue"]:hover, li[about="ibis:Issue"].subject, li[about="https://privatealpha.com/ontology/ibis/1#Issue"]:hover, li[about="https://privatealpha.com/ontology/ibis/1#Issue"].subject, dfn[typeof~="ibis:Issue"]:hover, dfn[typeof~="ibis:Issue"].subject, dfn[about="ibis:Issue"]:hover, dfn[about="ibis:Issue"].subject, dfn[about="https://privatealpha.com/ontology/ibis/1#Issue"]:hover, dfn[about="https://privatealpha.com/ontology/ibis/1#Issue"].subject, em[typeof~="ibis:Issue"]:hover, em[typeof~="ibis:Issue"].subject, em[about="ibis:Issue"]:hover, em[about="ibis:Issue"].subject, em[about="https://privatealpha.com/ontology/ibis/1#Issue"]:hover, em[about="https://privatealpha.com/ontology/ibis/1#Issue"].subject, strong[typeof~="ibis:Issue"]:hover, strong[typeof~="ibis:Issue"].subject, strong[about="ibis:Issue"]:hover, strong[about="ibis:Issue"].subject, strong[about="https://privatealpha.com/ontology/ibis/1#Issue"]:hover, strong[about="https://privatealpha.com/ontology/ibis/1#Issue"].subject, span[typeof~="ibis:Issue"]:hover, span[typeof~="ibis:Issue"].subject, span[about="ibis:Issue"]:hover, span[about="ibis:Issue"].subject, span[about="https://privatealpha.com/ontology/ibis/1#Issue"]:hover, span[about="https://privatealpha.com/ontology/ibis/1#Issue"].subject {
  background-color: #f4dddd;
  border-color: #d79c9c;
}

form[about="ibis:Issue"] {
  background-color: #974444;
  color: #401919;
}

form[about="ibis:Issue"] select.target, form[about="ibis:Issue"] input.new-value {
  border-color: #401919;
  background-color: #d79c9c;
}

form[about="ibis:Issue"] button {
  border-color: #401919;
  background-color: #974444;
  color: #401919;
}

form[about="ibis:Issue"] button:hover {
  background-color: #f4dddd;
  border-color: #d79c9c;
  color: #974444;
}

body[typeof~="ibis:Position"] main,
body[typeof~="ibis:Position"] aside.predicate {
  background-color: #182919;
  border-color: #7db97d;
  color: #7db97d;
}

body[typeof~="ibis:Position"] article {
  background-color: #314d31;
}

body[typeof~="ibis:Position"] footer {
  background-color: #091309;
}

body[typeof~="ibis:Position"] section.relations, body[typeof~="ibis:Position"] section.edit {
  background-color: #182919;
  border-color: #182919;
}

button[value="ibis:Position"].set-type,
[typeof~="ibis:Position"] button, li[typeof~="ibis:Position"] button {
  color: #182919;
  border-color: #314d31;
  background-color: #436643;
}

button[value="ibis:Position"].set-type:hover,
[typeof~="ibis:Position"] button:hover, li[typeof~="ibis:Position"] button:hover {
  background-color: #7db97d;
}

button[value="ibis:Position"][disabled] {
  color: #314d31;
  border-color: #314d31;
  background-color: #091309;
}

li[typeof~="ibis:Position"], li[about="ibis:Position"], li[about="https://privatealpha.com/ontology/ibis/1#Position"], dfn[typeof~="ibis:Position"], dfn[about="ibis:Position"], dfn[about="https://privatealpha.com/ontology/ibis/1#Position"], em[typeof~="ibis:Position"], em[about="ibis:Position"], em[about="https://privatealpha.com/ontology/ibis/1#Position"], strong[typeof~="ibis:Position"], strong[about="ibis:Position"], strong[about="https://privatealpha.com/ontology/ibis/1#Position"], span[typeof~="ibis:Position"], span[about="ibis:Position"], span[about="https://privatealpha.com/ontology/ibis/1#Position"] {
  background-color: #7db97d;
  border-color: #436643;
  color: #182919;
}

li[typeof~="ibis:Position"] a, li[about="ibis:Position"] a, li[about="https://privatealpha.com/ontology/ibis/1#Position"] a, dfn[typeof~="ibis:Position"] a, dfn[about="ibis:Position"] a, dfn[about="https://privatealpha.com/ontology/ibis/1#Position"] a, em[typeof~="ibis:Position"] a, em[about="ibis:Position"] a, em[about="https://privatealpha.com/ontology/ibis/1#Position"] a, strong[typeof~="ibis:Position"] a, strong[about="ibis:Position"] a, strong[about="https://privatealpha.com/ontology/ibis/1#Position"] a, span[typeof~="ibis:Position"] a, span[about="ibis:Position"] a, span[about="https://privatealpha.com/ontology/ibis/1#Position"] a {
  color: inherit;
}

li[typeof~="ibis:Position"] a:hover, li[about="ibis:Position"] a:hover, li[about="https://privatealpha.com/ontology/ibis/1#Position"] a:hover, dfn[typeof~="ibis:Position"] a:hover, dfn[about="ibis:Position"] a:hover, dfn[about="https://privatealpha.com/ontology/ibis/1#Position"] a:hover, em[typeof~="ibis:Position"] a:hover, em[about="ibis:Position"] a:hover, em[about="https://privatealpha.com/ontology/ibis/1#Position"] a:hover, strong[typeof~="ibis:Position"] a:hover, strong[about="ibis:Position"] a:hover, strong[about="https://privatealpha.com/ontology/ibis/1#Position"] a:hover, span[typeof~="ibis:Position"] a:hover, span[about="ibis:Position"] a:hover, span[about="https://privatealpha.com/ontology/ibis/1#Position"] a:hover {
  color: #314d31;
}

li[typeof~="ibis:Position"]:hover, li[typeof~="ibis:Position"].subject, li[about="ibis:Position"]:hover, li[about="ibis:Position"].subject, li[about="https://privatealpha.com/ontology/ibis/1#Position"]:hover, li[about="https://privatealpha.com/ontology/ibis/1#Position"].subject, dfn[typeof~="ibis:Position"]:hover, dfn[typeof~="ibis:Position"].subject, dfn[about="ibis:Position"]:hover, dfn[about="ibis:Position"].subject, dfn[about="https://privatealpha.com/ontology/ibis/1#Position"]:hover, dfn[about="https://privatealpha.com/ontology/ibis/1#Position"].subject, em[typeof~="ibis:Position"]:hover, em[typeof~="ibis:Position"].subject, em[about="ibis:Position"]:hover, em[about="ibis:Position"].subject, em[about="https://privatealpha.com/ontology/ibis/1#Position"]:hover, em[about="https://privatealpha.com/ontology/ibis/1#Position"].subject, strong[typeof~="ibis:Position"]:hover, strong[typeof~="ibis:Position"].subject, strong[about="ibis:Position"]:hover, strong[about="ibis:Position"].subject, strong[about="https://privatealpha.com/ontology/ibis/1#Position"]:hover, strong[about="https://privatealpha.com/ontology/ibis/1#Position"].subject, span[typeof~="ibis:Position"]:hover, span[typeof~="ibis:Position"].subject, span[about="ibis:Position"]:hover, span[about="ibis:Position"].subject, span[about="https://privatealpha.com/ontology/ibis/1#Position"]:hover, span[about="https://privatealpha.com/ontology/ibis/1#Position"].subject {
  background-color: #a6f4a7;
  border-color: #7db97d;
}

form[about="ibis:Position"] {
  background-color: #436643;
  color: #182919;
}

form[about="ibis:Position"] select.target, form[about="ibis:Position"] input.new-value {
  border-color: #182919;
  background-color: #7db97d;
}

form[about="ibis:Position"] button {
  border-color: #182919;
  background-color: #436643;
  color: #182919;
}

form[about="ibis:Position"] button:hover {
  background-color: #a6f4a7;
  border-color: #7db97d;
  color: #436643;
}

body[typeof~="ibis:Argument"] main,
body[typeof~="ibis:Argument"] aside.predicate {
  background-color: #20204b;
  border-color: #a7a7d2;
  color: #a7a7d2;
}

body[typeof~="ibis:Argument"] article {
  background-color: #3e3e85;
}

body[typeof~="ibis:Argument"] footer {
  background-color: #0d0d27;
}

body[typeof~="ibis:Argument"] section.relations, body[typeof~="ibis:Argument"] section.edit {
  background-color: #20204b;
  border-color: #20204b;
}

button[value="ibis:Argument"].set-type,
[typeof~="ibis:Argument"] button, li[typeof~="ibis:Argument"] button {
  color: #20204b;
  border-color: #3e3e85;
  background-color: #5656a0;
}

button[value="ibis:Argument"].set-type:hover,
[typeof~="ibis:Argument"] button:hover, li[typeof~="ibis:Argument"] button:hover {
  background-color: #a7a7d2;
}

button[value="ibis:Argument"][disabled] {
  color: #3e3e85;
  border-color: #3e3e85;
  background-color: #0d0d27;
}

li[typeof~="ibis:Argument"], li[about="ibis:Argument"], li[about="https://privatealpha.com/ontology/ibis/1#Argument"], dfn[typeof~="ibis:Argument"], dfn[about="ibis:Argument"], dfn[about="https://privatealpha.com/ontology/ibis/1#Argument"], em[typeof~="ibis:Argument"], em[about="ibis:Argument"], em[about="https://privatealpha.com/ontology/ibis/1#Argument"], strong[typeof~="ibis:Argument"], strong[about="ibis:Argument"], strong[about="https://privatealpha.com/ontology/ibis/1#Argument"], span[typeof~="ibis:Argument"], span[about="ibis:Argument"], span[about="https://privatealpha.com/ontology/ibis/1#Argument"] {
  background-color: #a7a7d2;
  border-color: #5656a0;
  color: #20204b;
}

li[typeof~="ibis:Argument"] a, li[about="ibis:Argument"] a, li[about="https://privatealpha.com/ontology/ibis/1#Argument"] a, dfn[typeof~="ibis:Argument"] a, dfn[about="ibis:Argument"] a, dfn[about="https://privatealpha.com/ontology/ibis/1#Argument"] a, em[typeof~="ibis:Argument"] a, em[about="ibis:Argument"] a, em[about="https://privatealpha.com/ontology/ibis/1#Argument"] a, strong[typeof~="ibis:Argument"] a, strong[about="ibis:Argument"] a, strong[about="https://privatealpha.com/ontology/ibis/1#Argument"] a, span[typeof~="ibis:Argument"] a, span[about="ibis:Argument"] a, span[about="https://privatealpha.com/ontology/ibis/1#Argument"] a {
  color: inherit;
}

li[typeof~="ibis:Argument"] a:hover, li[about="ibis:Argument"] a:hover, li[about="https://privatealpha.com/ontology/ibis/1#Argument"] a:hover, dfn[typeof~="ibis:Argument"] a:hover, dfn[about="ibis:Argument"] a:hover, dfn[about="https://privatealpha.com/ontology/ibis/1#Argument"] a:hover, em[typeof~="ibis:Argument"] a:hover, em[about="ibis:Argument"] a:hover, em[about="https://privatealpha.com/ontology/ibis/1#Argument"] a:hover, strong[typeof~="ibis:Argument"] a:hover, strong[about="ibis:Argument"] a:hover, strong[about="https://privatealpha.com/ontology/ibis/1#Argument"] a:hover, span[typeof~="ibis:Argument"] a:hover, span[about="ibis:Argument"] a:hover, span[about="https://privatealpha.com/ontology/ibis/1#Argument"] a:hover {
  color: #3e3e85;
}

li[typeof~="ibis:Argument"]:hover, li[typeof~="ibis:Argument"].subject, li[about="ibis:Argument"]:hover, li[about="ibis:Argument"].subject, li[about="https://privatealpha.com/ontology/ibis/1#Argument"]:hover, li[about="https://privatealpha.com/ontology/ibis/1#Argument"].subject, dfn[typeof~="ibis:Argument"]:hover, dfn[typeof~="ibis:Argument"].subject, dfn[about="ibis:Argument"]:hover, dfn[about="ibis:Argument"].subject, dfn[about="https://privatealpha.com/ontology/ibis/1#Argument"]:hover, dfn[about="https://privatealpha.com/ontology/ibis/1#Argument"].subject, em[typeof~="ibis:Argument"]:hover, em[typeof~="ibis:Argument"].subject, em[about="ibis:Argument"]:hover, em[about="ibis:Argument"].subject, em[about="https://privatealpha.com/ontology/ibis/1#Argument"]:hover, em[about="https://privatealpha.com/ontology/ibis/1#Argument"].subject, strong[typeof~="ibis:Argument"]:hover, strong[typeof~="ibis:Argument"].subject, strong[about="ibis:Argument"]:hover, strong[about="ibis:Argument"].subject, strong[about="https://privatealpha.com/ontology/ibis/1#Argument"]:hover, strong[about="https://privatealpha.com/ontology/ibis/1#Argument"].subject, span[typeof~="ibis:Argument"]:hover, span[typeof~="ibis:Argument"].subject, span[about="ibis:Argument"]:hover, span[about="ibis:Argument"].subject, span[about="https://privatealpha.com/ontology/ibis/1#Argument"]:hover, span[about="https://privatealpha.com/ontology/ibis/1#Argument"].subject {
  background-color: #e0e0f3;
  border-color: #a7a7d2;
}

form[about="ibis:Argument"] {
  background-color: #5656a0;
  color: #20204b;
}

form[about="ibis:Argument"] select.target, form[about="ibis:Argument"] input.new-value {
  border-color: #20204b;
  background-color: #a7a7d2;
}

form[about="ibis:Argument"] button {
  border-color: #20204b;
  background-color: #5656a0;
  color: #20204b;
}

form[about="ibis:Argument"] button:hover {
  background-color: #e0e0f3;
  border-color: #a7a7d2;
  color: #5656a0;
}

body[typeof~="skos:Concept"] main,
body[typeof~="skos:Concept"] aside.predicate {
  background-color: #351c35;
  border-color: #d198d1;
  color: #d198d1;
}

body[typeof~="skos:Concept"] article {
  background-color: #613760;
}

body[typeof~="skos:Concept"] footer {
  background-color: #1a0b1a;
}

body[typeof~="skos:Concept"] section.relations, body[typeof~="skos:Concept"] section.edit {
  background-color: #351c35;
  border-color: #351c35;
}

button[value="skos:Concept"].set-type,
[typeof~="skos:Concept"] button, li[typeof~="skos:Concept"] button {
  color: #351c35;
  border-color: #613760;
  background-color: #804b7f;
}

button[value="skos:Concept"].set-type:hover,
[typeof~="skos:Concept"] button:hover, li[typeof~="skos:Concept"] button:hover {
  background-color: #d198d1;
}

button[value="skos:Concept"][disabled] {
  color: #613760;
  border-color: #613760;
  background-color: #1a0b1a;
}

li[typeof~="skos:Concept"], li[about="skos:Concept"], li[about="http://www.w3.org/2004/02/skos/core#Concept"], dfn[typeof~="skos:Concept"], dfn[about="skos:Concept"], dfn[about="http://www.w3.org/2004/02/skos/core#Concept"], em[typeof~="skos:Concept"], em[about="skos:Concept"], em[about="http://www.w3.org/2004/02/skos/core#Concept"], strong[typeof~="skos:Concept"], strong[about="skos:Concept"], strong[about="http://www.w3.org/2004/02/skos/core#Concept"], span[typeof~="skos:Concept"], span[about="skos:Concept"], span[about="http://www.w3.org/2004/02/skos/core#Concept"] {
  background-color: #d198d1;
  border-color: #804b7f;
  color: #351c35;
}

li[typeof~="skos:Concept"] a, li[about="skos:Concept"] a, li[about="http://www.w3.org/2004/02/skos/core#Concept"] a, dfn[typeof~="skos:Concept"] a, dfn[about="skos:Concept"] a, dfn[about="http://www.w3.org/2004/02/skos/core#Concept"] a, em[typeof~="skos:Concept"] a, em[about="skos:Concept"] a, em[about="http://www.w3.org/2004/02/skos/core#Concept"] a, strong[typeof~="skos:Concept"] a, strong[about="skos:Concept"] a, strong[about="http://www.w3.org/2004/02/skos/core#Concept"] a, span[typeof~="skos:Concept"] a, span[about="skos:Concept"] a, span[about="http://www.w3.org/2004/02/skos/core#Concept"] a {
  color: inherit;
}

li[typeof~="skos:Concept"] a:hover, li[about="skos:Concept"] a:hover, li[about="http://www.w3.org/2004/02/skos/core#Concept"] a:hover, dfn[typeof~="skos:Concept"] a:hover, dfn[about="skos:Concept"] a:hover, dfn[about="http://www.w3.org/2004/02/skos/core#Concept"] a:hover, em[typeof~="skos:Concept"] a:hover, em[about="skos:Concept"] a:hover, em[about="http://www.w3.org/2004/02/skos/core#Concept"] a:hover, strong[typeof~="skos:Concept"] a:hover, strong[about="skos:Concept"] a:hover, strong[about="http://www.w3.org/2004/02/skos/core#Concept"] a:hover, span[typeof~="skos:Concept"] a:hover, span[about="skos:Concept"] a:hover, span[about="http://www.w3.org/2004/02/skos/core#Concept"] a:hover {
  color: #613760;
}

li[typeof~="skos:Concept"]:hover, li[typeof~="skos:Concept"].subject, li[about="skos:Concept"]:hover, li[about="skos:Concept"].subject, li[about="http://www.w3.org/2004/02/skos/core#Concept"]:hover, li[about="http://www.w3.org/2004/02/skos/core#Concept"].subject, dfn[typeof~="skos:Concept"]:hover, dfn[typeof~="skos:Concept"].subject, dfn[about="skos:Concept"]:hover, dfn[about="skos:Concept"].subject, dfn[about="http://www.w3.org/2004/02/skos/core#Concept"]:hover, dfn[about="http://www.w3.org/2004/02/skos/core#Concept"].subject, em[typeof~="skos:Concept"]:hover, em[typeof~="skos:Concept"].subject, em[about="skos:Concept"]:hover, em[about="skos:Concept"].subject, em[about="http://www.w3.org/2004/02/skos/core#Concept"]:hover, em[about="http://www.w3.org/2004/02/skos/core#Concept"].subject, strong[typeof~="skos:Concept"]:hover, strong[typeof~="skos:Concept"].subject, strong[about="skos:Concept"]:hover, strong[about="skos:Concept"].subject, strong[about="http://www.w3.org/2004/02/skos/core#Concept"]:hover, strong[about="http://www.w3.org/2004/02/skos/core#Concept"].subject, span[typeof~="skos:Concept"]:hover, span[typeof~="skos:Concept"].subject, span[about="skos:Concept"]:hover, span[about="skos:Concept"].subject, span[about="http://www.w3.org/2004/02/skos/core#Concept"]:hover, span[about="http://www.w3.org/2004/02/skos/core#Concept"].subject {
  background-color: #f3daf3;
  border-color: #d198d1;
}

form[about="skos:Concept"] {
  background-color: #804b7f;
  color: #351c35;
}

form[about="skos:Concept"] select.target, form[about="skos:Concept"] input.new-value {
  border-color: #351c35;
  background-color: #d198d1;
}

form[about="skos:Concept"] button {
  border-color: #351c35;
  background-color: #804b7f;
  color: #351c35;
}

form[about="skos:Concept"] button:hover {
  background-color: #f3daf3;
  border-color: #d198d1;
  color: #804b7f;
}

/* idiosyncratic layout stuff */
section.self {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
}

section.self form.types {
  position: absolute;
  width: 2.25em;
}

section.self form.types button {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  height: 1.5em;
}

section.self h1 {
  margin: 0;
  height: 4em;
  font-size: 133.3%;
}

section.self form.description {
  position: absolute;
  top: 0;
  left: 2.25em;
  right: 0.25em;
}

section.self form.description textarea {
  box-sizing: border-box;
  padding-right: 2.5em;
  height: 4em;
}

section.self form.description button {
  position: absolute;
  top: 0;
  right: 0;
  height: 4em;
  width: 2em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}

section.self aside.predicate {
  height: 6em;
  position: absolute;
}

section.self aside.predicate.concept {
  top: 7.5em;
  left: 0;
  width: 40%;
}

section.self aside.predicate ul {
  overflow-y: auto;
  height: 3.33em;
}

section.self aside.predicate.link {
  top: 7.5em;
  right: 0;
  width: 53.5%;
}

section.self aside.predicate li input, section.self aside.predicate li select {
  width: 78%;
  display: block;
  float: left;
  height: 100%;
  line-height: inherit;
}

section.self aside.predicate li button {
  width: 18%;
  display: block;
  float: right;
  height: 100%;
  line-height: inherit;
  margin: 0;
}

section.relations {
  position: absolute;
  top: 13.5em;
  bottom: 14.5em;
  overflow-y: auto;
  left: 1em;
  right: 1em;
  border-style: solid;
  border-width: 0.25em;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
}

section.relations li {
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  -ms-border-radius: 0.375em;
  -o-border-radius: 0.375em;
  border-radius: 0.375em;
  border-style: solid;
  border-width: 0.05em;
}

section.edit {
  position: absolute;
  overflow: hidden;
  bottom: 1em;
  left: 1em;
  right: 1em;
  height: 12.5em;
  border-style: solid;
  border-width: 0.25em;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
}

section.edit > form {
  width: 100%;
  height: 100%;
}

section.index {
  position: absolute;
  top: 0;
  width: 50%;
  height: 66.66%;
  padding: 0;
}

section.index h1 {
  text-align: center;
}

section.index figure {
  width: 100%;
  margin: auto;
  height: 70%;
  display: block;
}

section.index figure > object {
  display: block;
  height: 100%;
  margin: auto;
}

section.index.ibis {
  left: 0;
}

section.index.skos {
  right: 0;
}

section.index.list {
  width: 100%;
  height: 33.33%;
  top: unset;
  bottom: 0;
}

section.index.list > section {
  float: left;
  width: 25%;
  height: 100%;
  bottom: 0;
  box-sizing: border-box;
  font-size: 75%;
}

section.index.list > section > h2 {
  text-align: center;
}

section.index ul {
  overflow-y: auto;
  padding-left: 1.5em;
  padding-right: 0.5em;
  height: 80%;
}

section.index li {
  text-align: left;
  hyphens: auto;
}
